PORT=3000
JWT_ACCESS_SECRET=SECRET
JWT_ACCESS_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=30
FINNHUB_API_KEY=SECRET
FMP_API_KEY=SECRET
ALERTS_WORKER_URL=http://localhost:3001
ALERTS_WORKER_INTERNAL_SECRET=change-me
